* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: poppins-regular;
}
/* main container of create activity */
.main__container {
  display: flex;
  height: 100vh;
}
/* image container */
.left__create__activity__container {
  flex: 50%;
  display: flex;
}
.left__create__activity__containe ,img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
/* Right contaier heading   */
.right__create__activity__container {
  flex: 50%;
  display: flex;
}
/* form container */
.form__container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
}
/* h2 heading  */
.form__container h2 {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 48px;
  color: var(--primary-text-color);
  font-family: poppins-regular;

}
/* form container input */
.form__container input, select {
  background: #eeeeee;
  font-size: 16px;
  height: 40px;
  width: 350px;
  padding-left: 28px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
/* form container button */
.form__container button {
  margin-bottom: 4rem;
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  padding: 2px;
  background-color: #121212;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* form button hover */
.form__container button:hover {
  background: #eeeeee;
  color: #121212;
}
/* media query */
/* Responsive layout for laptop screens */
@media (max-width: 1024px) {
  .main__container {
    flex-direction: row;
  }
  .left__create__activity__container {
    display: flex;
  }
  .left__create__activity__containe img{
    height: 100vh;
  }
  .form__container {
    display: flex;
    align-items: center;
  }
  .form__container input{
    font-size: 20px;
  }
  
}
/* Responsive layout for tablet screens */
@media (max-width: 768px) {
  .main__container {
    flex-direction: column;
  }
  .left__create__activity__container {
    display: none;
  }
  .form__container {
    height: 100vh;
  }
  .form__container input{
    height: 45px;
  }
}
/* Responsive layout for mobile screens */
@media (max-width: 468px){
  .mainContainer {
    flex-direction: column;
  }
  .left__create__activity__containe {
    display: none;
  }
  .form__container {
    height: 100vh;
  }
  .form__container input{
    width: 70%;
    height: 45px;
  }
  .form__container button{
    width: 70%;
  }
}
