body {
    background: white;
    color: black;

}

/* back ground imgae */
.bg__image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('../src/assets/bgBlack.png');
    /* width: 1162px;
    height: 1024px;
    left: 278px;
    top: 0px; */
}

/* left container heading h1 */
.heading__container h1 {
    position: absolute;
    width: 814px;
    height: 145px;
    left: 69px;
    top: 249px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;

    color: #000000;
}

/* heading container p */
.heading__container p {
    position: absolute;
    width: 490px;
    height: 90px;
    left: 84px;
    top: 496px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #545454;
}

/* register button */
.home__button__container button {
    position: absolute;
    width: 262px;
    height: 71px;
    left: 84px;
    top: 768px;
    cursor: pointer;
    background: #000000;
    border-radius: 10px;
}

.home__button__container button:hover{
    background: #545454;
    color: #FFFFFF;
}
/* right container image */
.right__container img {
    position: absolute;
    width: 1023px;
    height: 870px;
    left: 417px;
    top: 79px;
}